// Ikea helper less file

@import 'vendors/bootstrap/bootstrap.less';
@import 'variables.less';


* {margin:0;padding:0;}

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html {
  height: 100%;
}


body {
  height: 100%;
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  background-position: bottom left;
}

#wrap {
  min-height: 100%;
}

#main {
  padding-bottom: 3.5em;
}  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -3.5em; /* negative value of footer height */
  height: 3.5em;
  clear:both;

  text-align: left;
  vertical-align: -2em;
  font-size: 0.7em;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

#footer a {
  color: black;
  text-decoration: none;
}

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
<style type="text/css">
#wrap {display:table;height:100%}
</style>
<![endif]-->

*/

.rotating-image {
  width: 120px;
  height: 100px;
  margin: 20px 0 0 20px;
  -webkit-animation:spin 3s linear infinite;
  -moz-animation:spin 3s linear infinite;
  animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.center {
  .center-block();
  width: 250px;
}

.loading {
  padding-left: 3em;
  background-image: url("@{loading-img}");
  background-position: left center;
  background-repeat: no-repeat;
}

.input-group-addon .loading {
  padding-left: 1em;
}

.intro:extend(.alert, .alert-info, .alert-dismissable) {

}

.serial-number {
  border-style: solid;
  border-width: 1px;
  font-size: 1.6em;
  display: inline-block;
  padding: 0.1em 2em 0.1em 2em;
  margin: -1em 3em 0.5em 3em;
}

.serial-text {
  margin-top: -1.5em;
  padding: 1em 0 0 0;
}


.select-items {
  main {
    .make-row();

    .search {
      .make-xs-column(12);
      .make-sm-column(6);
      .trolley-contents {
        ul {
          li {
            list-style: none;
            > div {
              .make-row();
              .contents {
                .make-xs-column(9);
                > div:first-child {
                  .make-xs-column(10);
                  h4 {
                    margin-top: 0px;
                  }
                }
                > div:last-child {
                  padding-top: 0.3em;
                  .make-xs-column(2);
                }

                .label {
                  cursor: pointer;
                }

              }
              .preview {
                .make-xs-column(3);
                text-align: center;
                .thumbnail {
                  margin-bottom: 0px;
                  img {
                    .size(5em; 5em);
                  }
                }
              }
            }
          }
        }

        #package-popover {
          min-width: 200px;

        }

      }

      #search-results {
        position: static;
        max-width: 100%;
        width: 100%;
        ul {
          list-style: none;
          .make-row();
          li {
            .make-xs-column(4);
            padding-left: 0.3em;
            padding-right: 0.3em;

            .thumbnail {
              img {
                height: 15%;
              }
              .caption {
                text-align: center;
              }
            }

            &.selected {
              .thumbnail {
                .box-shadow(0 6px 12px rgba(0,0,0,.175));
                background-color: @btn-primary-bg;

                .caption {
                  color: @btn-primary-color;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    > .preview {
      .hidden-xs();
      .make-sm-column(6);

      background-image: url("../img/shopping-cart-bg.png");
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: contain;
      max-height: 350px;
      min-height: 350px;
      > div {
        padding-bottom: 6%;
        padding-left: 100px;
      }
    }
  }

}

.enter-car-info {
  main {
      .make-row();
    .entry {
      .make-xs-column(12);
      .make-sm-column(6);
      nav {
        margin-bottom: 10px;
      }
    }
    > .preview {
      .hidden-xs();
      .make-sm-column(6);
    }
  }
}


.btn {
  opacity: 1;
}

.btn-danger:hover {
  background-color: #FCF8EC;
  opacity: 1;
}

.btn-primary:hover {
  opacity: 1;
}

.btn-default:hover {
  opacity: 1;
}

.btn-xs .btn-danger:hover {
  opacity: 1;
}

.navbar-brand {
  margin: 2px 0 0 0;
  padding: 0;
}
.navbar-brand a {
  text-decoration: none;
  .hidden-xs();
}
.navbar-brand a:hover {
  text-decoration: none;
}
.navbar-brand > img {
  display: inline;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.list-inside {
  list-style-position: inside;
}

iframe {
  border-style: double;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }

  .wait {
    height:150px;
    width: 300px;
  }
}
