// Ikea helper less file

@import 'vendors/bootstrap/bootstrap.less';
@import 'variables.less';

body {
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    margin-bottom: 5em;
}
.loading {
  padding-left: 3em;
  background-image: url("@{loading-img}");
  background-position: left center;
  background-repeat: no-repeat;
}

.input-group-addon .loading {
  padding-left: 1em;
}

.intro:extend(.alert, .alert-info, .alert-dismissable) {

}

.footer {
  padding-top: 2em;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 5em;
}

