// Ikea helper less file

@import 'vendors/bootstrap/bootstrap.less';
@import 'variables.less';

.loading {
  padding-left: 3em;
  background-image: url("@{loading-img}");
  background-position: left center;
  background-repeat: no-repeat;
}

.input-group-addon .loading {
  padding-left: 1em;
}

.intro:extend(.alert, .alert-info, .alert-dismissable) {

}

